<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Grafico Tempo Real - Disco</title>
</head>
<style>
    .container_line_chart {
        width: 1000px;
        height: 750px;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<body>
    <div class="container_line_chart">
        <h1 style="text-align:center">Grafico Tempo Real - Disco</h1>
        <canvas id="canvas_line_chart"></canvas>
    </div>
</body>
</html>
<script>
    const lineChart = document.getElementById("canvas_line_chart").getContext("2d");
    const dataLineChart = {
        labels: [
            "1",
            "2",
            "3",
            "4",
            "5",
            "6",
            "7",
            "8",
            "9",
            "10",
    ],
        datasets: [{
            label: "Disco",
            data: [
                45,
                45,
                45,
                45,
                45,
                45,
                45,
                45,
                45,
                45,
                45,
                45,
                45,
                50,
                50,
                50,
                50,
                50,
                50,
                50,
                50,
                50,
                50,
                50,
                55,
                55,
                55,
                55,
                55,
                55,
                55,
                60,
                60,
                60,
                60,
                60,
                60,
                60,
                60,
                60,
                60,
                60,
                60,
                60,
                60,
                45,
                45,
                45,
                45,
                45
            ],
            borderColor: "rgba(18, 103, 130)"
        }],
    };

    const chartConfiguration = {
        type: "line",
        data: dataLineChart
    };
                
    const createLineChart = new Chart(lineChart, chartConfiguration);
                
</script>